[flake8]
max-line-length = 100
extend-ignore =
    E203,
    D100,
    D104,
    B008
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    venv
per-file-ignores =
    tests/*:D100,D101,D102,D103